.list ul {
  list-style: none;
  font-size: 12px;
  overflow: hidden;
  padding: 0;
}

.list ul li {
  padding: 8px;
  background-color: rgb(204, 208, 196);
}

.list ul > li:nth-child(odd) {
  background-color: white;
}

.list h2 {
  padding: 10px 0 10px 8px;
  background-color: rgb(204, 208, 196);
}
